<%- include('./partials/_head.ejs', { title: 'Admin' }) %>
<body>
    <%- include('./partials/_nav.ejs', { userRole: 'Admin', user }) %>
    <div class="container mx-auto p-20">
    </div>
</body>
</html>